<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.shelden.merged.html">
	<require plugin="org.dita.xhtml"/>
	<require plugin="org.dita.pdf2"/>

	<feature extension="dita.conductor.transtype.check" value="merged-html"/>
	<feature extension="dita.conductor.target.relative" file="conductor.xml"/>
	<feature extension="dita.xsl.xhtml" file="xsl/custom.xsl" />
</plugin>
