html {
	font-size:14px;
}

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.topic {
	margin-left:auto;
	margin-right:auto;
	width:900px;
}

.topictitle1 {
	font-size:35px;
	color:#000000;
	width:500px;
	font-style: italic;
}

.nested1 {
	width:410px;
	float:left;
	margin-right:40px;
}

.topictitle2 {
	font-size:35px;
	color:#000000;
	width:400px;
	font-style: italic;
}

.related-links {
	font-style: italic;
}